footer {
  bottom: 0;
  width: 100%;
}

nav {
  padding-left: 15px;
  padding-right: 15px;
}

/*To decorate the product links*/
.noDecoration,
a:link,
a:visited {
  text-decoration: none;
  font-size: large;
  text-align: center;
  color: black;
}
